.App {
  text-align: center;
  margin-top: 25px;
}

.footer{
  padding: 15px 0;
  font-size: 0.9em;
}

.tone-form {
  width: 60%;
  margin: auto;
  padding: 0 25px;
}

#octave-field {
  max-width: 50px;
}

#octave-wrapper{
  text-align: center;
}

#note-wrapper{
  width: 100%;
  height: 20px;
  position: relative;
  margin-bottom: 10px;
}

.current-note {
  width: 8%;
  height: 100%;
  position: relative;
  float: left;
  color: white;
  background-color: #1976d2;
  opacity: 0;
  transition: opacity 0.5s;
}
.current-note.active {
  opacity: 1;
  transition-duration: 0.1s;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
